@import "mixins";

.categories {
    background: #f5f7fa;
    display: flex;
    justify-content: center;
    padding: 5rem 0 8rem 0;
    @include MobileView {
        padding: 4rem 1rem;
        background-color: #eef2f7;;
    }

    .categories__container {
        width: 60%;
        @include MobileView {
            width: 100%;
        }

        .categories__title {
            text-align: center;
            font-size: 2.1875rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.55;
            letter-spacing: normal;
            margin-bottom: 10px;
            color: #0b3a42;
            @include MobileView {
                font-size: 25px;
            }
        }

        .categories__description {
            margin-top: 0;
            padding-right: 10%;
            padding-left: 3%;
            font-size: 0.9rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.56;
            letter-spacing: normal;
            text-align: center;
            color: #155a6d;
            @include MobileView {
                font-size: 16px;
            }
        }
    }

    .categories__body {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        @include MobileView {
            flex-direction: column;
            width: 81%;
            justify-content: space-between;
            padding: 2rem 2rem;
        }

        .categories__item {
            width: 17%;
            padding: 23px 27px;

            border-radius: 10px;
            border: solid 2px #cff2f2;
            background-color: #fafafa;
            text-align: center;
            margin-bottom: 0.75rem;
            @include CustomQuery(1250) {
                width: 25%;
            }

            @include CustomQuery(1190) {
                width: 40%;
            }

            @include CustomQuery(980) {
                width: 35%;
            }
            @include MobileView {
                width: 80%;
                padding: 35px 27px;
                margin-bottom: 1.5rem;
            }

            .categories__image {
                width: 50px;
                height: 50px;
            }

            .categories__title {
                font-size: 1.1rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.54;
                letter-spacing: normal;
                color: #0b3a42;
                margin-top: 0.5rem;
                margin-bottom: 0;
            }

            .categories__subtitle {
                font-size: 1rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.53;
                letter-spacing: normal;
                color: #20c5ba;
            }
        }
    }

    .categories__show-all-button {
        margin-top: 1.5rem;
        padding: 10.3px 30px 7px 30px;
        border: solid 2px #1fc5b9;
        font-size: 1rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: center;
        color: #20c5ba;;
        background-color: transparent;
        border-radius: 6px;
        @include MobileView {
            width: 80%;
        }
    }

}
